body {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.page-container {
  flex: 1 0 auto;
  max-width: 46rem;
  margin: 3rem 1rem 1rem 1rem;
}

h1 {
  margin: 16px 8px;
}

footer {
  text-align: center;
  color: #999;
}
